bin/Debug-windows-x86_64/Nest/
bin/Debug-windows-x86_64/Raven/
bin/Debug-windows-x86_64/Test/

bin/Dist-windows-x86_64/Nest/
bin/Dist-windows-x86_64/Raven/
bin/Dist-windows-x86_64/Test/

bin/Release-windows-x86_64/Nest/
bin/Release-windows-x86_64/Raven/
bin/Release-windows-x86_64/Test/


bin-int/Debug-windows-x86_64/Nest/
bin-int/Debug-windows-x86_64/Raven/
bin-int/Debug-windows-x86_64/Test/

bin-int/Dist-windows-x86_64/Nest/
bin-int/Dist-windows-x86_64/Raven/
bin-int/Dist-windows-x86_64/Test/


bin-int/Release-windows-x86_64/Nest/
bin-int/Release-windows-x86_64/Raven/
bin-int/Release-windows-x86_64/Test/

Nest/Nest.vcxproj
Nest/Nest.vcxproj.user
Nest/Nest.vcxproj.filters
Nest/src/Outputs/*.ppm
Nest/src/Outputs/old/*.ppm
Nest/src/Outputs/old/*.json
Nest/src/*.ppm
Nest/*.ppm
Nest/*.json
Nest/src/Scenes/odtuclass/
Nest/src/Outputs/hw1/
Nest/outputs_blog/
Nest/src/Scenes/ply
Nest/src/Scenes/*.blend

Test/Test.vcxproj
Test/Test.vcxproj.user
Test/Test.vcxproj.filters

Raven/Raven.vcxproj
Raven/Raven.vcxproj.user
Raven/Raven.vcxproj.filters
Raven.sln
.vs/